
main img {
    max-width: 100%;
}

#indexpanel {
    height: 268px;
    padding-top: 34px;
}


/* table 2 stylin */
td.goodfeel {
    background-color: #1aa327;
}

td.okfeel {
    background-color: #9ea31a;
}

td.badfeel {
    background-color: #a32e1a;
}


/* form styling */
.inputid {
    width: 150px;
}

div.input-group {
 width: 100%;   
}

/* footer */
.footerdiv {
    text-align: center;
}


/* outputchart */
.line {
    text-align: right;
    color: white;
    height: 20px;
    padding: 0px;
    vertical-align: middle;
    font-size: 6px;
}

#chartcontainer {
    visibility: hidden;
}

.linedate {
    display: inline-block;
    float: left;
}

.linemouseon {
    text-align: right;
    height: 30px;
    color: white;
    background-color: #993071;
    padding: 5px;
    font-size: medium;
}