
main img {
    max-width: 100%;
}


/* table 2 stylin */
td.goodfeel {
    background-color: #1aa327;
}

td.okfeel {
    background-color: #9ea31a;
}

td.badfeel {
    background-color: #a32e1a;
}


/* form styling */
.inputid {
    width: 150px;
}

div.input-group {
 width: 100%;   
}

/* footer */
.footerdiv {
    text-align: center;
}

/* outputchart */
#chartcontainer div {
    text-align: right;
    color: white;
    height: 10px;
    padding: 0px;
    vertical-align: middle;
    font-size: 6px;
}

